

body{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:2px;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    height:1000px;
    width: 1000px;
    border:2px solid black;
}
.container div {
    box-sizing: border-box;
    background-color: whitesmoke;
    border: 2px solid black;
}
.is-hidden {
  display: none !important;
}