
div{
    display:flex;
    flex-wrap: wrap;
    width:10px;
    height:10px;
    

    background-color: green;
    border-color: blue;

    gap:2px;

    
}
.container{
    height:200px;
    width: 200px;
}