
div{
    display:flex;
    flex-wrap: wrap;
    width:10px;
    height:10px;
    background-color: black;
    gap:2px;

    
}
.container{
    height:190px;
    width: 190px;
    border:2px solid black;
}
.item {
    background-color: whitesmoke;
}
.is-hidden {
  display: none !important;
}